root = true

[*]
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.ps1]
indent_size = 4

[*.bat]
end_of_line = crlf
charset = utf-8-bom
indent_size = 2

[*.cs]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true
indent_size = 4
